BasedOnStyle: LLVM
IndentWidth: 8
TabWidth: 8
UseTab: ForIndentation
BreakBeforeBraces: Linux
ColumnLimit: 100
PointerAlignment: Right
DerivePointerAlignment: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: Align
SortIncludes: false
IncludeBlocks: Preserve
ReflowComments: false
IndentCaseLabels: false
MaxEmptyLinesToKeep: 2
KeepEmptyLinesAtTheStartOfBlocks: false